<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
      <% include ../static/partials/navbar.ejs %>

      <main class="container">

      <br>
      <h2>Wikis</h2>

      <% if(currentUser) { %>
        <a href="/wikis/new" class="btn btn-success">New Wiki</a>
      <% } %>

      <br>

      <ul class="list-group">
        <% var collaborationIds = [] %>
        <% if (collaborations) { %>
          <% collaborations.forEach((collaboration) => { %>
            <% collaborationIds.push(collaboration.wikiId) %>
          <% }) %>
        <% } %>
        <!-- //<li><%= String(collaborations) %> </li> for debugging-->
        <% wikis.forEach((wiki) => { %>
          <% if(wiki.private) { %>
            <% if(currentUser) { %>
              <% if(currentUser.isAdmin() || collaborationIds.includes(wiki.id) || wiki.userId === currentUser.id){ %>
          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
          <% } %>
        <% } %>
        <% } else { %>
          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
          <% } %>
        <% }) %>
      </ul>

    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
