<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <h1 >Wikis</h1>

        <br>

        <a href="/users/collaborations" class="btn btn-primary" style='margin-bottom: 12px'>See Collaborations</a>

        <% if(!currentUser) { %>
        <br>
        <small>Please sign up/sign in to create your own wiki topic.</small>
        <p />
        <ul class='list-group'>
            <% const newWikis = wikis.filter( wiki => wiki.private == false) %>
            <% newWikis.forEach((wiki) => { %>
            <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>">
                    <%= wiki.title %></a>
            </li>
            <% }) %>
        </ul>
        <% } else if(currentUser)  { %>
        <ul class="list-group">
            <!-- //shows all wikis for admin -->
            <%  if (currentUser.role == 'admin') { wikis.forEach((wiki)=> { %>
            <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>">
                    <%= wiki.title %></a>
            </li>
            <% })} else { %>
            <!-- //shows wikis only if authored by user or they are public
            //to see collaborations as premium user, must click on 'see collaborations' -->
            <% const newWikis = wikis.filter( wiki => wiki.userId === currentUser.id || wiki.private == false) %>
            <% newWikis.forEach((wiki) => { %>
            <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>">
                    <%= wiki.title %></a>
            </li>
            <% }) }%>
            <% } %>
        </ul>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>
